@import url(https://fonts.googleapis.com/css?family=Raleway:400);

html {
	font-family: 'Raleway', sans-serif;
	//background-image: image-url('header_texture.jpg');
	min-height: 100%;
	
        background: #b0d8f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #b0d8f2 0%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d8f2), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b0d8f2 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b0d8f2 0%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b0d8f2 0%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b0d8f2 0%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d8f2', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

	background-size: cover;

}

#header {
	text-align: center;
}

#container {
	width: 800px;
	margin: 0 auto;
}

.personInfo {
	margin: 0 auto;
	width: 100%;
	height: 170px;
}

.radioArea {
	width: 100px;
	float: left;
	margin-left: 25px;
}

.chooseWeight {
	width: 200px;
	float: left;
	margin-left: 20px;
	padding-right: 25px;
	padding-left: 25px;
	border-right: 1px solid #EEE;
	border-left: 1px solid #EEE;
}

.properties {
	width: 100%;
	display: inline-block;
}

.chooseHours {
	width: 200px;
	float: left;
	margin-left: 25px;
}

.showBac {
	width: 100%;
	text-align: center;
}

.showBac h2 {
	margin: 0;
}

.addDrink {
	margin: 0 auto;
	width: 100%;
	margin-top: 10px;
}

#manualInput {
	border-right: 1px solid #ddd;
	float: left;
	width: 29%;
	padding-right: 20px;
	padding-left: 10px;
}

#manualInput input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.drinkList {
	display: inline;
	float: left;
	width: 65%;
}

.drinkItem {
	height: 50px;
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
}

.drinkList.ui.form input:first-child {
	width: 180px;
}

.drinkList.ui.form input {
	width: 80px;
}

.drinkCounter {
	width: 30px;
	float: left;
	text-align: center;
	margin-right: 5px;
	display: none;
}

.drinkInputs {
	line-height: 60px;
}

.drinkOptions {
	border-left: 1px solid #888;
	padding-left: 5px;
}

.removeButton {
	color: red;
	cursor: pointer;
	line-height: 60px;
	vertical-align: middle;
	float: right;
}

nav ul {
	text-align: center;
	padding-left: 0px;
}

nav ul li {
	display: inline-block;
	cursor: pointer;
	margin-left: 50px;
}

nav ul li:first-child {
	margin-left: 0px;
}

.navActive {
	background-color: #FFF;
	border-radius: 2px;
	width: 7%;
	box-shadow: 1px 1px 1px #555;
}

.button {
	font-family: sans-serif;
}

.tilpassInnstillingene {
	float: left;
	position: fixed;
	left: 150px;
	top: 70px;
}

.HvaHarDuDrukket {
	float: left;
	position: fixed;
	left: 150px;
	top: 210px;
}

.justerDetaljene {
	float: left;
	position: fixed;
	left: 150px;
	top: 550px;
}

#info-button {
	background-color: #F8A000;
	color: black;
	font-weight: 400;
	float: left;
}

#info-button span {
	padding-right: 10px;
}

#info-button i {
	transform: rotate(90deg);
}

#info-button i.active {
	transform: rotate(270deg);
}

#sidebar > .item:first-child {
	background-color: orange;
}

#sidebar .social_icons {
	margin-left: 50px;
}

.fa-github {
	color: #333;
}

.fa-twitter {
	color: #4099FF;
}
