
<h1 id="header">Promillekalkulator</h1>

<div class="personInfo panel">
	<div class="ui raised segment">
		<div class="ui form">
			
			<div class="radioArea">
				<div class="grouped inline fields">
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" id="radioMann" name="inputGender" value="Male" data-bind="checked: gender" checked="checked" />
							<label for="radioMann">Mann</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" id="radioKvinne" name="inputGender" value="Female" data-bind="checked: gender" />
							<label for="radioKvinne">Kvinne</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="chooseWeight">
				<div class="field">
					<label>Kroppsvekt i kg</label>
					<input type="number" data-bind="value: bodyWeight" />
					<label>Drikkestart</label>
					<input type="number" data-bind="value: hoursSince"/></input>
				</div>
			</div>
			
			<div class="showBac">				
				<h2 data-bind="visible: drinks().length > 0">Antall enheter drukket: <span data-bind="text: drinks().length"></span></h2>
				<h2><span data-bind="visible: bac() === 0">Du har ikke promille!</span></h2>
				<h2 data-bind="visible: bac() > 0">Promille: <span data-bind="text: bac().toFixed(3)"></span></h2>
			</div>
			
		</div> <!-- end class ui form -->
	</div>
</div>

<div class="drinkList panel">
	<button data-bind="
		click: function() { 
			addDrink();
			$('.datepicker').pickadate({
				max: true,
				monthsFull: [ 'Januar', 'Februar', 'Mars', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Desember' ],
				weekdaysShort: [ 'Man', 'Tir', 'Ons', 'Tor', 'Fre', 'Lør', 'Søn' ],
				today: 'I dag',
				clear: 'Fjern',
				close: 'Lukk'
			});
			$('.timepicker').pickatime({
				max: true,
				format: 'HH:i'
			});
		}
		">Legg til ny drikke
	</button>
	<table class="ui small table segment">
		<thead>
			<th>Hva</th>
			<th>Milliliter</th>
			<th>Prosent</th>
			<th>Dato</th>
			<th>Tid</th>
			<th></th>
		</thead>

		<tbody data-bind="foreach: drinks">
			<tr>
				<td><input type="text" data-bind="value: name" /></td>
				<td><input type="number" data-bind="value: size" /></td>
				<td><input type="number" data-bind="value: percentage" /></td>
				<td><input type="text" class="datepicker" data-bind="value: date" /></input></td>
				<td><input type="text" class="timepicker" data-bind="value: time"/></input></td>
				<td><a href="#" data-bind="click: $root.removeDrink">Fjern</a></td>
			</tr>
		</tbody>
	</table>

</div> <!-- end drinkList panel -->
