
<h1 id="header">Promillekalkulator</h1>

<div class="personInfo panel">
	<div class="ui raised segment">
		<div class="ui form">
			
			<div class="radioArea">
				<div class="grouped inline fields">
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" id="radioMann" name="inputGender" value="Male" data-bind="checked: gender" checked="checked" />
							<label for="radioMann">Mann</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" id="radioKvinne" name="inputGender" value="Female" data-bind="checked: gender" />
							<label for="radioKvinne">Kvinne</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="chooseWeight">
				<div class="field">
					<label>Kroppsvekt i kg</label>
					<input type="number" data-bind="value: bodyWeight" />
					<label>Timer siden drikkestart</label>
					<input type="number" data-bind="value: hoursSince"/></input>
				</div>
			</div>
			
			<div class="showBac">
				<h2 data-bind="visible: drinks().length > 0">Antall enheter drukket: <span data-bind="text: drinks().length"></span></h2>
				<h2><span data-bind="visible: bac() === 0">Du har ikke promille!</span></h2>
				<h2 data-bind="visible: bac() > 0">Promille: <span data-bind="text: bac().toFixed(3)"></span></h2>
			</div>
			
		</div> <!-- end class ui form -->
	</div>
</div>

<div class="drinkList panel">
	<button class="button animated fade ui green small" data-bind="
		click: function() { 
			addDrink('Øl', '500', '4.7');
		}
		">
		<div class="visible content">Øl - 500ml</div>
		<div class="hidden content">Legg til</div>
	</button>
	<button class="button ui green small" data-bind="
		click: function() { 
			addDrink('Øl', '330', '4.7');
		}
		">Øl - 330ml
	</button>
	<button class="button ui green small" data-bind="
		click: function() { 
			addDrink('1 Glass Vin', '150', '12');
		}
		">Vin - 150ml
	</button>
	<button class="button ui green small" data-bind="
		click: function() { 
			addDrink('Sprit (1 shot)', '40', '40');
		}
		">Sprit - 40ml
	</button>	
	<table class="ui small table segment">
		<thead>
			<th>Hva</th>
			<th>Milliliter</th>
			<th>Prosent</th>
			<!--<th>Dato</th>
			<th>Tid</th>-->
			<th></th>
		</thead>

		<tbody data-bind="foreach: drinks">
			<tr>
				<td><input type="text" data-bind="value: name" /></td>
				<td><input type="number" data-bind="value: size" /></td>
				<td><input type="number" data-bind="value: percentage" /></td>
				<!--<td><input type="text" class="datepicker" data-bind="value: date" /></input></td>
				<td><input type="text" class="timepicker" data-bind="value: time"/></input></td>-->
				<td><a class="button ui red small" href="#" data-bind="click: $root.removeDrink">Fjern</a></td>
			</tr>
		</tbody>
	</table>

</div> <!-- end drinkList panel -->
